<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{1046,160},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,92}</string>
                <key>textureRect</key>
                <string>{{1624,250},{140,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-bet-won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{1476,647},{160,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1105,157}</string>
                <key>spriteSourceSize</key>
                <string>{1105,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{1105,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{272,50}</string>
                <key>spriteSourceSize</key>
                <string>{272,54}</string>
                <key>textureRect</key>
                <string>{{1058,818},{272,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,98}</string>
                <key>spriteSourceSize</key>
                <string>{708,98}</string>
                <key>textureRect</key>
                <string>{{740,718},{708,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,576}</string>
                <key>spriteSourceSize</key>
                <string>{195,576}</string>
                <key>textureRect</key>
                <string>{{1046,250},{195,576}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-lines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,75}</string>
                <key>spriteSourceSize</key>
                <string>{130,75}</string>
                <key>textureRect</key>
                <string>{{1614,742},{130,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,447}</string>
                <key>spriteSourceSize</key>
                <string>{767,447}</string>
                <key>textureRect</key>
                <string>{{1,160},{767,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,80}</string>
                <key>spriteSourceSize</key>
                <string>{376,80}</string>
                <key>textureRect</key>
                <string>{{664,935},{376,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,434}</string>
                <key>spriteSourceSize</key>
                <string>{195,434}</string>
                <key>textureRect</key>
                <string>{{1046,447},{195,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-session.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,42}</string>
                <key>spriteSourceSize</key>
                <string>{202,42}</string>
                <key>textureRect</key>
                <string>{{415,956},{202,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-auto-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{1042,979},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-auto-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{1442,907},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-auto-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{1572,919},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-auto-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{1680,442},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-back-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{1450,742},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-back-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{1450,801},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-back-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{1058,920},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-close-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{1,956},{205,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-close-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{1058,870},{205,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-close-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{208,956},{205,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1046,210},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1682,392},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1172,979},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1638,705},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1408,908},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1604,951},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1636,951},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1668,951},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1685,647},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1685,679},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1604,983},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1636,983},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-prev-next-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{1638,647},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-prev-next-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{1373,958},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-prev-next-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{1420,940},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{619,956},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1328,972},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1517,939},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-spin-trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96.5,97.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{196,198}</string>
                <key>textureRect</key>
                <string>{{1624,442},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,198}</string>
                <key>spriteSourceSize</key>
                <string>{196,198}</string>
                <key>textureRect</key>
                <string>{{1482,447},{196,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{1332,818},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{1332,863},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{1591,874},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1467,939},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1562,951},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crazy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,72}</string>
                <key>spriteSourceSize</key>
                <string>{428,72}</string>
                <key>textureRect</key>
                <string>{{1046,644},{428,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1572,907},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-page-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{791,690},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-page-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{811,690},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{1682,424},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{740,706},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{1042,1011},{4,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,27}</string>
                <key>spriteSourceSize</key>
                <string>{95,27}</string>
                <key>textureRect</key>
                <string>{{740,609},{95,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{1450,718},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{1078,210},{25,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-sound-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{1668,983},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sound-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{769,690},{18,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,274}</string>
                <key>spriteSourceSize</key>
                <string>{528,274}</string>
                <key>textureRect</key>
                <string>{{770,160},{528,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{1624,392},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-back-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,22}</string>
                <key>spriteSourceSize</key>
                <string>{73,22}</string>
                <key>textureRect</key>
                <string>{{1680,572},{73,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt-bigwin-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,147}</string>
                <key>spriteSourceSize</key>
                <string>{661,147}</string>
                <key>textureRect</key>
                <string>{{1,807},{661,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,115}</string>
                <key>spriteSourceSize</key>
                <string>{392,115}</string>
                <key>textureRect</key>
                <string>{{664,818},{392,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-jackpot-en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{737,196}</string>
                <key>spriteSourceSize</key>
                <string>{737,196}</string>
                <key>textureRect</key>
                <string>{{1,609},{737,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-jackpot-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,247}</string>
                <key>spriteSourceSize</key>
                <string>{598,247}</string>
                <key>textureRect</key>
                <string>{{1108,1},{598,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-spin-normal-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,43}</string>
                <key>spriteSourceSize</key>
                <string>{104,43}</string>
                <key>textureRect</key>
                <string>{{1222,972},{104,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-spin-trial-en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,45}</string>
                <key>spriteSourceSize</key>
                <string>{147,45}</string>
                <key>textureRect</key>
                <string>{{1442,860},{147,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-stop-normal-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,50}</string>
                <key>spriteSourceSize</key>
                <string>{126,50}</string>
                <key>textureRect</key>
                <string>{{1222,920},{126,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-trial-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,15}</string>
                <key>spriteSourceSize</key>
                <string>{63,15}</string>
                <key>textureRect</key>
                <string>{{415,1000},{63,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{1265,870},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{1350,908},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1717,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af5248fc0b2fd5289ce7572af25c700:deda7b4a65867f0c97dd63e4149637c6:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
