<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sg_lanquephuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,603},{218,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,366}}</string>
				<key>sourceSize</key>
				<string>{218,366}</string>
			</dict>

			<key>tamgioi_bg_freespins.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{648,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{648,39}}</string>
				<key>sourceSize</key>
				<string>{648,39}</string>
			</dict>

			<key>tamgioi_bonus63_item0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,114},{71,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,91}}</string>
				<key>sourceSize</key>
				<string>{71,91}</string>
			</dict>

			<key>tamgioi_bonus63_item1.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,603},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>tamgioi_cdong_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,101},{220,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,74}}</string>
				<key>sourceSize</key>
				<string>{220,74}</string>
			</dict>

			<key>tamgioi_cdong_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,251},{220,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,74}}</string>
				<key>sourceSize</key>
				<string>{220,74}</string>
			</dict>

			<key>tamgioi_cdong_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,0},{136,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,95}}</string>
				<key>sourceSize</key>
				<string>{136,95}</string>
			</dict>

			<key>tamgioi_cdong_box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,488},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>tamgioi_cdong_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,929},{220,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,74}}</string>
				<key>sourceSize</key>
				<string>{220,74}</string>
			</dict>

			<key>tamgioi_cdong_le.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,176},{220,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,74}}</string>
				<key>sourceSize</key>
				<string>{220,74}</string>
			</dict>

			<key>tamgioi_cdong_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{721,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{721,1}}</string>
				<key>sourceSize</key>
				<string>{721,1}</string>
			</dict>

			<key>tamgioi_cdong_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,847},{229,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,81}}</string>
				<key>sourceSize</key>
				<string>{229,81}</string>
			</dict>

			<key>tamgioi_chat_box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{950,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{950,58}}</string>
				<key>sourceSize</key>
				<string>{950,58}</string>
			</dict>

			<key>tamgioi_chat_btn_chuyen.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,59},{140,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,65}}</string>
				<key>sourceSize</key>
				<string>{140,65}</string>
			</dict>

			<key>tamgioi_chat_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,59},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>tamgioi_choi_thu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,329},{157,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,158}}</string>
				<key>sourceSize</key>
				<string>{157,158}</string>
			</dict>

			<key>tamgioi_chondong_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,329},{157,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,158}}</string>
				<key>sourceSize</key>
				<string>{157,158}</string>
			</dict>

			<key>tamgioi_daovang_item0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,469},{115,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,100}}</string>
				<key>sourceSize</key>
				<string>{115,100}</string>
			</dict>

			<key>tamgioi_daovang_item1.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,603},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>tamgioi_daovang_item2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,368},{115,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,100}}</string>
				<key>sourceSize</key>
				<string>{115,100}</string>
			</dict>

			<key>tamgioi_daovang_item3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,368},{115,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,100}}</string>
				<key>sourceSize</key>
				<string>{115,100}</string>
			</dict>

			<key>tamgioi_daovang_item4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,368},{115,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,100}}</string>
				<key>sourceSize</key>
				<string>{115,100}</string>
			</dict>

			<key>tamgioi_line_numb_x0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,593},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,50}}</string>
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>

			<key>tamgioi_line_numb_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,970},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,50}}</string>
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>

			<key>tamgioi_line_numb_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,227},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,50}}</string>
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>

			<key>tamgioi_line_numb_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,246},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,50}}</string>
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>

			<key>tamgioi_line_numb_y0.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,0},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>tamgioi_line_numb_y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,809},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tamgioi_line_x0.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,809},{9,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,100}}</string>
				<key>sourceSize</key>
				<string>{9,100}</string>
			</dict>

			<key>tamgioi_line_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,0},{9,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,100}}</string>
				<key>sourceSize</key>
				<string>{9,100}</string>
			</dict>

			<key>tamgioi_line_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,783},{9,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,100}}</string>
				<key>sourceSize</key>
				<string>{9,100}</string>
			</dict>

			<key>tamgioi_line_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,682},{9,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,100}}</string>
				<key>sourceSize</key>
				<string>{9,100}</string>
			</dict>

			<key>tamgioi_mini_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,899},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>tamgioi_mini_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,798},{131,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,100}}</string>
				<key>sourceSize</key>
				<string>{131,100}</string>
			</dict>

			<key>tamgioi_roller_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,454},{1,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,418}}</string>
				<key>sourceSize</key>
				<string>{1,418}</string>
			</dict>

			<key>tamgioi_symbol_ef65_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,149},{160,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,179}}</string>
				<key>sourceSize</key>
				<string>{160,179}</string>
			</dict>

			<key>tamgioi_symbol_ef65_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,301},{145,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,142}}</string>
				<key>sourceSize</key>
				<string>{145,142}</string>
			</dict>

			<key>tamgioi_symbol_ef65_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,512},{131,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,131}}</string>
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>

			<key>tamgioi_symbol_ef65_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,356},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,122}}</string>
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>

			<key>tamgioi_symbol_ef65_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,0},{115,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,116}}</string>
				<key>sourceSize</key>
				<string>{115,116}</string>
			</dict>

			<key>tamgioi_symbol_ef65_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,246},{137,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,133}}</string>
				<key>sourceSize</key>
				<string>{137,133}</string>
			</dict>

			<key>tamgioi_symbol_ef65_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,603},{241,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,240}}</string>
				<key>sourceSize</key>
				<string>{241,240}</string>
			</dict>

			<key>tamgioi_symbol_ef65_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,488},{145,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,107}}</string>
				<key>sourceSize</key>
				<string>{145,107}</string>
			</dict>

			<key>tamgioi_symbol_ef65_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,149},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>tamgioi_symbol_ef65_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,798},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>tamgioi_symbol_ef65_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,454},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,93}}</string>
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>

			<key>tamgioi_symbol_ef_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,368},{108,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,85}}</string>
				<key>sourceSize</key>
				<string>{108,85}</string>
			</dict>

			<key>tamgioi_symbol_ef_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,798},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,138}}</string>
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>

			<key>tamgioi_symbol_ef_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,454},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,93}}</string>
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>

			<key>tamgioi_symbol_ef_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,512},{131,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,131}}</string>
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>

			<key>tamgioi_symbol_ef_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,937},{108,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,85}}</string>
				<key>sourceSize</key>
				<string>{108,85}</string>
			</dict>

			<key>tamgioi_symbol_ef_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,125},{138,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,120}}</string>
				<key>sourceSize</key>
				<string>{138,120}</string>
			</dict>

			<key>tamgioi_symbol_ef_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,380},{131,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,131}}</string>
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>

			<key>tamgioi_title_chat_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_title_chon_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,437},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_title_lich_su.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_title_tophu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,683},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_title_vinh_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{390,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,81}}</string>
				<key>sourceSize</key>
				<string>{390,81}</string>
			</dict>

			<key>tamgioi_x2btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,902},{79,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,26}}</string>
				<key>sourceSize</key>
				<string>{79,26}</string>
			</dict>

			<key>trove_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,0},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,66}}</string>
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>

			<key>trove_btn_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,659},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>

			<key>trove_btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,593},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,50}}</string>
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>

			<key>trove_btn_choithat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,941},{88,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,57}}</string>
				<key>sourceSize</key>
				<string>{88,57}</string>
			</dict>

			<key>trove_btn_choithu.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,844},{88,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,57}}</string>
				<key>sourceSize</key>
				<string>{88,57}</string>
			</dict>

			<key>trove_btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,0},{74,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,79}}</string>
				<key>sourceSize</key>
				<string>{74,79}</string>
			</dict>

			<key>trove_btn_giam.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,61},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,32}}</string>
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>

			<key>trove_btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,970},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>

			<key>trove_btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,759},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>

			<key>trove_btn_phon.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,101},{213,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,47}}</string>
				<key>sourceSize</key>
				<string>{213,47}</string>
			</dict>

			<key>trove_btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,444},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,176}}</string>
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>

			<key>trove_btn_quay_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,621},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,176}}</string>
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>

			<key>trove_btn_quaysieutoc_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,548},{90,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,44}}</string>
				<key>sourceSize</key>
				<string>{90,44}</string>
			</dict>

			<key>trove_btn_quaysieutoc_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,979},{88,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,44}}</string>
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>

			<key>trove_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,709},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>

			<key>trove_btn_tang.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,970},{108,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,32}}</string>
				<key>sourceSize</key>
				<string>{108,32}</string>
			</dict>

			<key>trove_btn_thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,946},{244,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,75}}</string>
				<key>sourceSize</key>
				<string>{244,75}</string>
			</dict>

			<key>trove_ef_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{420,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,253}}</string>
				<key>sourceSize</key>
				<string>{420,253}</string>
			</dict>

			<key>trove_ef_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,355},{346,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,247}}</string>
				<key>sourceSize</key>
				<string>{346,247}</string>
			</dict>

			<key>trove_icon_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,593},{90,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,88}}</string>
				<key>sourceSize</key>
				<string>{90,88}</string>
			</dict>

			<key>trove_icon_hubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{358,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,98}}</string>
				<key>sourceSize</key>
				<string>{358,98}</string>
			</dict>

			<key>trove_icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,941},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>

			<key>trove_item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,479},{122,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,113}}</string>
				<key>sourceSize</key>
				<string>{122,113}</string>
			</dict>

			<key>trove_item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,208},{124,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,147}}</string>
				<key>sourceSize</key>
				<string>{124,147}</string>
			</dict>

			<key>trove_item_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,264},{117,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,103}}</string>
				<key>sourceSize</key>
				<string>{117,103}</string>
			</dict>

			<key>trove_item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,114},{118,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,149}}</string>
				<key>sourceSize</key>
				<string>{118,149}</string>
			</dict>

			<key>trove_item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,867},{123,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,111}}</string>
				<key>sourceSize</key>
				<string>{123,111}</string>
			</dict>

			<key>trove_item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,756},{123,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,110}}</string>
				<key>sourceSize</key>
				<string>{123,110}</string>
			</dict>

			<key>trove_item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,644},{125,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,110}}</string>
				<key>sourceSize</key>
				<string>{125,110}</string>
			</dict>

			<key>trove_item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,117},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,109}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>

			<key>trove_item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,644},{123,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,111}}</string>
				<key>sourceSize</key>
				<string>{123,111}</string>
			</dict>

			<key>trove_item_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,96},{125,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,111}}</string>
				<key>sourceSize</key>
				<string>{125,111}</string>
			</dict>

			<key>trove_item_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,0},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,113}}</string>
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>

			<key>trove_item_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,593},{122,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,347}}</string>
				<key>sourceSize</key>
				<string>{122,347}</string>
			</dict>

			<key>trove_moneybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,946},{224,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,62}}</string>
				<key>sourceSize</key>
				<string>{224,62}</string>
			</dict>

			<key>trove_number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,59},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>

			<key>trove_text_dat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,67},{64,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,46}}</string>
				<key>sourceSize</key>
				<string>{64,46}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>lanquephuong.png</string>
			</dict>
		</dict>
</plist>